<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header class="header">
    <div class="nav-bar">
        <a class="nav-button app-name-link" href="/">Web Zakat</a>
        <div class="dropdown nav-button">
            <a class="dropbtn">Импорт ▾</a>
            <div class="dropdown-content">
                <a id="import-price-button"href="/import/prices">Импортировать прайс-листы</a>
                <a id="import-query-button" href="/import/query">Импортировать заявку</a>
            </div>
        </div>
        <div class="dropdown nav-button">
            <a class="dropbtn">Заявка ▾</a>
            <div class="dropdown-content">
                <a href="/zakaz/next">Обработка заявки</a>
                <a href="/">Показать заявку</a>
                <a id="delete-query-button" href="/clear_query">Удалить заявку</a>
            </div>
        </div>
        <a class="nav-button" href="/price/show">Сводный прайс-лист</a>
        <a class="nav-button" href="/order/show">Корзина</a>
    </div>
</header>
<div class="empty-block"></div>

<form method="POST" enctype="multipart/form-data" action="/upload">
    Загрузить заявку: <input type="file" name="file"><br />
    <input type="submit" value="Загрузить">
</form>

<br>
<table th:if="${not list.isEmpty}" border="1">
    <tr>
        <th>Наименование</th>
        <th>Кол-во</th>
    </tr>
    <tr th:each="item, iStat : ${list}">
        <td th:id="'rowNumber-' + ${iStat.index}">
            <a th:href="'/zakaz/next?position=' + ${iStat.index + 1}" th:text="${item.getName()}"></a>
        </td>
        <td th:text="${item.getQuantity()}"></td>
        <td>
            <a th:href="@{/delete_item?id={ident}(ident=${item.getId()})}">Удалить</a>
        </td>
    </tr>
</table>
<div id="preloader-block" class="hidden">
    <div id="preload-content" class="preloader">
        <div id="floatBarsG">
            <div id="floatBarsG_1" class="floatBarsG"></div>
            <div id="floatBarsG_2" class="floatBarsG"></div>
            <div id="floatBarsG_3" class="floatBarsG"></div>
            <div id="floatBarsG_4" class="floatBarsG"></div>
            <div id="floatBarsG_5" class="floatBarsG"></div>
            <div id="floatBarsG_6" class="floatBarsG"></div>
            <div id="floatBarsG_7" class="floatBarsG"></div>
            <div id="floatBarsG_8" class="floatBarsG"></div>
        </div>
    </div>
</div>
<script src="/script/jquery.js"></script>
<script src="/script/zakatScript.js"></script>
</body>
</html>