<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header class="header">
    <div class="nav-bar">
        <a class="nav-button app-name-link" href="/">Web Zakat</a>
        <div class="dropdown nav-button">
            <a class="dropbtn">Импорт ▾</a>
            <div class="dropdown-content">
                <a id="import-price-button"href="/import/prices">Импортировать прайс-листы</a>
                <a id="import-query-button" href="/import/query">Импортировать заявку</a>
            </div>
        </div>
        <div class="dropdown nav-button">
            <a class="dropbtn">Заявка ▾</a>
            <div class="dropdown-content">
                <a href="/zakaz/next">Обработка заявки</a>
                <a href="/">Показать заявку</a>
                <a id="delete-query-button" href="/clear_query">Удалить заявку</a>
            </div>
        </div>
        <a class="nav-button" href="/price/show">Сводный прайс-лист</a>
        <a class="nav-button" href="/order/show">Корзина</a>
    </div>
</header>
<div class="empty-block"></div>
<hr>
<table th:if="${not list.isEmpty}" border="1">
    <tr>
        <th>Наименование</th>
        <th>Производитель</th>
        <th>Поставщик</th>
        <th width="50">НДС</th>
        <th>Остаток</th>
        <th width="100">Цена</th>
        <th>В заявке</th>
    </tr>

    <tr th:each="item : ${list}">
        <td th:text="${item.priceItem.getName()}"></td>
        <td th:text="${item.priceItem.getManufacturer()}"></td>
        <td th:text="${item.priceItem.getDist()}"></td>
        <td th:text="${item.priceItem.getNds()}"></td>
        <td th:text="${item.priceItem.getQuantity()}"></td>
        <td th:text="${item.priceItem.getPrice()}"></td>
        <td>
            <form action="/order/edit">
                <input type="text" name="count" th:value="${item.priceItem.getInOrder()}" size="5"/>
                <input type="hidden" name="price_item_id" th:value="${item.priceItem.getId()}"/>
                <input type="submit" value="Изменить">
            </form>
        </td>
        <td>
           <form action="/order/delete">
               <input class="delete-button" type="submit" value="Удалить"/>
               <input type="hidden" name="price_item_id" th:value="${item.priceItem.getId()}"/>
           </form>
        </td>
    </tr>
</table>
<br>
<hr>
<form action="/order/export">
    <button class="menu-button">Отправить заявку</button>
</form>
<script src="/script/jquery.js"></script>
<script src="/script/zakatScript.js"></script>
</body>
</html>